{% extends "base.html" %}
{% load static %}
{% block title %}classFeeManagement{% endblock %}
{% block content %}
    <script src="{% static 'js/classFeeManagement.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/classFeeManagement.css' %}"/>
    <p></p>
    <div class="container-fluid">
          <div class="row">
                <div class="col-md-1 xj">
                    班费管理》
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-whatever="@mdo">添加</button>
                </div>
                <div class="col-md-8" style="height: 34px;">
                    <form class="navbar-form navbar-left" action="{% url 'daiLyManagement:classFeeSearch' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                          <input type="text" class="form-control" name="fid" placeholder="班费编号">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
          </div>
    </div>



{##################    添加班费遮罩层    ###################}
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">添加</h4>
              </div>
              <div class="modal-body">
                 <form class="form-horizontal" action="{% url 'daiLyManagement:classFeeAdd' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="fid" class="col-md-3 control-label">班费编号：</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="fid" placeholder="fid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="famount" class="col-md-3 control-label">班费金额：</label>
                        <div class="col-md-4">
                              <select name="famount" class="form-control">
                                <option value="8000">8000</option>
                                <option value="9999">9999</option>
                                 <option value="10000">10000</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                         <label for="fdate" class="col-md-3 control-label">统计时间：</label>
                        <div class="col-md-4">
                              <select name="fdate" class="form-control">
                                <option value="2020.11.11">2020.11.11</option>
                                <option value="2020.12.12">2020.12.12</option>
                                  <option value="2020.31.31">2020.31.31</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6 text-center">
                            <button type="submit" class="btn btn-default">添加</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 60px;">关闭</button>
                        </div>
                    </div>
                 </form>
              </div>
            </div>
        </div>
    </div>


{##################    更新班费遮罩层    ###################}
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">更新</h4>
              </div>
              <div class="modal-body">
                 <form class="form-horizontal" action="{% url 'daiLyManagement:classFeeUpdated' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="fid" class="col-md-3 control-label">班费编号：</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="fid" placeholder="fid" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="famount" class="col-md-3 control-label">班费金额：</label>
                        <div class="col-md-4">
                              <select name="famount" class="form-control">
                                <option value="8000">8000</option>
                                <option value="9999">9999</option>
                                 <option value="10000">10000</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fdate" class="col-md-3 control-label">统计时间：</label>
                        <div class="col-md-4">
                              <select name="fdate" class="form-control">
                                <option value="2020.11.11">2020.11.11</option>
                                <option value="2020.12.12">2020.12.12</option>
                                 <option value="2020.31.31">2020.31.31</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6 text-center">
                            <button type="submit" class="btn btn-default">更新</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 60px;">关闭</button>
                        </div>
                    </div>
                 </form>
              </div>
            </div>
        </div>
    </div>


    <div class="table-responsive" style="margin-top: 10px;">
        <table class="table table-bordered table-hover text-center">
            <tr>
                <td>班费编号</td>
                <td>班费金额</td>
                <td>统计时间</td>
                <td></td>
                <td></td>
            </tr>
            {% for row in row_list %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>

                <td><a onclik="edit_classFeeManagment(this)" data-toggle="modal" data-target="#updateModal" data-whatever="@mdo"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a onclik="return delete_confirm()" href="{% url 'daiLyManagement:classFeeDelete' row.0 %}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}


