<div class="text-center" style="margin-top: 10px;">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="dropdown">
            <a style="background:#ecf7c9;" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="true">
                学生管理 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"><a class="text-center" href="{% url 'statusManagement:studentManagement' %}">学籍管理</a></li>
                <li role="presentation"><a class="text-center" href="#">奖学金管理</a></li>
                <li role="presentation"><a class="text-center" href="#">竞赛获奖管理</a></li>
                <li role="presentation"><a class="text-center" href="#">违纪管理</a></li>
                <li role="presentation"><a class="text-center" href="#">毕业信息管理</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a style="background:#ecf7c9;" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                班级日常管理 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"><a class="text-center" href="#">宿舍管理</a></li>
                <li role="presentation"><a class="text-center" href="#">保险管理</a></li>
                <li role="presentation"><a class="text-center" href="#">班级荣誉管理</a></li>
                <li role="presentation"><a class="text-center" href="{% url 'dailyManagement:activityManagement' %}">活动管理</a></li>
                <li role="presentation"><a class="text-center" href="#">班费管理</a></li>
                <li role="presentation"><a class="text-center" href="#">班委管理</a></li>
                <li role="presentation"><a class="text-center" href="{% url 'dailysManagement:leaveManagement' %}">请假管理</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a style="background:#ecf7c9;" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                考试管理 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"><a class="text-center" href="#">成绩管理</a></li>
                <li role="presentation"><a class="text-center" href="#">成绩分析</a></li>
            </ul>
        </li>
    </ul>
</div>
