{% extends "base.html" %}
{% load static %}
{% block title %}studentManagement{% endblock %}
{% block content %}
<script src="{% static 'js/studentManagement.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/studentManagement.css' %}"/>
<p></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 xj">
            学籍管理》
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"
                    data-whatever="@mdo">添加
            </button>
        </div>
        <div class="col-md-8" style="height: 34px;">
                    <form class="navbar-form navbar-left" action="{% url 'statusManagement:studentSearch' %}" method="post">{% csrf_token %}
                        <div class="form-group">
                          <input type="text" class="form-control" name="sname" placeholder="姓名">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>

    </div>
</div>

{##################    添加学生遮罩层    ###################}
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">add</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="{% url 'statusManagement:studentAdd' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="sno" class="col-md-3 control-label">学号：</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="sno" placeholder="sno">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sname" class="col-md-3 control-label">姓名：</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="sname" placeholder="sname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="spassword" class="col-md-3 control-label">密码：</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="spassword" placeholder="spassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ssage" class=" col-md-3 control-label">年龄：</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="ssage" placeholder="ssage">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ssex" class="col-md-3 control-label">性别：</label>
                        <div class="col-md-4">
                            <select name="ssex" class="form-control">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="politics" class="col-md-3 control-label">政治面貌：</label>
                        <div class="col-md-4">
                            <select name="politics" class="form-control">
                                <option value="团员">团员</option>
                                <option value="党员">党员</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-md-3 control-label">手机：</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="phone" placeholder="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="homeph" class="col-md-3 control-label">家庭电话：</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="homeph" placeholder="homeph">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-md-3 control-label">地址：</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="address" placeholder="address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cet" class="col-md-3 control-label">cet：</label>
                        <div class="col-md-4">
                            <select name="cet" class="form-control">
                                <option value="四级">四级</option>
                                <option value="六级">六级</option>
                                <option value="无">无</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="compgrade" class="col-md-3 control-label">计算机等级：</label>
                        <div class="col-md-4">
                            <select name="compgrade" class="form-control">
                                <option value="1级">1级</option>
                                <option value="2级">2级</option>
                                <option value="3级">3级</option>
                                <option value="4级">4级</option>
                                <option value="无">无</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="teachgrade" class="col-md-3 control-label">教师等级：</label>
                        <div class="col-md-4">
                            <select name="teachgrade" class="form-control">
                                <option value="助教">助教</option>
                                <option value="讲师">讲师</option>
                                <option value="副教授">副教授</option>
                                <option value="教授">教授</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mandarin" class="col-md-3 control-label">普通话等级：</label>
                        <div class="col-md-4">
                            <select name="mandarin" class="form-control">
                                <option value="一级甲等">一级甲等</option>
                                <option value="一级乙等">一级乙等</option>
                                <option value="二级甲等">二级甲等</option>
                                <option value="二级乙等">二级乙等</option>
                                <option value="三级甲等">三级甲等</option>
                                <option value="三级乙等">三级乙等</option>
                                <option value="无">无</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6 text-center">
                            <button type="submit" class="btn btn-default">添加</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    style="margin-left: 60px;">关闭
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{##################    添加学生遮罩层    ###################}

{##################    更新学生遮罩层    ###################}
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">update</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="{% url 'statusManagement:studentUpdated' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="sno" class="col-md-3 control-label">学号：</label>
                        <div class="col-md-4">
                            <input type="text" name="sno" id="sno" class="form-control" placeholder="sno">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sname" class="col-md-3 control-label">姓名：</label>
                        <div class="col-md-4">
                            <input type="text" name="sname" id="sname" class="form-control" placeholder="sname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="spassword" class="col-md-3 control-label">密码：</label>
                        <div class="col-md-4">
                            <input type="text" name="spassword" id="spassword" class="form-control"
                                   placeholder="spassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ssage" class=" col-md-3 control-label">年龄：</label>
                        <div class="col-md-4">
                            <input type="text" name="ssage" id="ssage" class="form-control" placeholder="ssage">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ssex" class="col-md-3 control-label">性别：</label>
                        <div class="col-md-4">
                            <select name="ssex" class="form-control">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="politics" class="col-md-3 control-label">政治面貌：</label>
                        <div class="col-md-4">
                            <select name="politics" class="form-control">
                                <option value="团员">团员</option>
                                <option value="党员">党员</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-md-3 control-label">手机：</label>
                        <div class="col-md-4">
                            <input type="text" name="phone" id="phone" class="form-control" placeholder="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="homeph" class="col-md-3 control-label">家庭电话：</label>
                        <div class="col-md-4">
                            <input type="text" name="homeph" id="homeph" class="form-control" placeholder="homeph">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-md-3 control-label">地址：</label>
                        <div class="col-md-4">
                            <input type="text" name="address" id="address" class="form-control" placeholder="address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cet" class="col-md-3 control-label">cet：</label>
                        <div class="col-md-4">
                            <select name="cet" class="form-control">
                                <option value="四级">四级</option>
                                <option value="六级">六级</option>
                                <option value="无">无</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="compgrade" class="col-md-3 control-label">计算机等级：</label>
                        <div class="col-md-4">
                            <select name="compgrade" class="form-control">
                                <option value="1级">1级</option>
                                <option value="2级">2级</option>
                                <option value="3级">3级</option>
                                <option value="4级">4级</option>
                                <option value="无">无</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="teachgrade" class="col-md-3 control-label">教师等级：</label>
                        <div class="col-md-4">
                            <select name="teachgrade" class="form-control">
                                <option value="助教">助教</option>
                                <option value="讲师">讲师</option>
                                <option value="副教授">副教授</option>
                                <option value="教授">教授</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mandarin" class="col-md-3 control-label">普通话等级：</label>
                        <div class="col-md-4">
                            <select name="mandarin" class="form-control">
                                <option value="一级甲等">一级甲等</option>
                                <option value="一级乙等">一级乙等</option>
                                <option value="二级甲等">二级甲等</option>
                                <option value="二级乙等">二级乙等</option>
                                <option value="三级甲等">三级甲等</option>
                                <option value="三级乙等">三级乙等</option>
                                <option value="无">无</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6 text-center">
                            <button type="submit" class="btn btn-default">更新</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    style="margin-left: 60px;">关闭
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{##################    更新学生遮罩层    ###################}

<div class="table-responsive" style="margin-top: 10px;">
    <table class="table table-bordered table-hover text-center">
        <tr>
            <td>学号</td>
            <td>姓名</td>
            <td>密码</td>
            <td>年龄</td>
            <td>性别</td>
            <td>政治面貌</td>
            <td>手机</td>
            <td>家庭电话</td>
            <td>地址</td>
            <td>cet</td>
            <td>计算机等级</td>
            <td>教师等级</td>
            <td>普通话等级</td>
            <td></td>
            <td></td>
        </tr>
        {% for row in row_list %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }}</td>
            <td>{{ row.4 }}</td>
            <td>{{ row.5 }}</td>
            <td>{{ row.6 }}</td>
            <td>{{ row.7 }}</td>
            <td>{{ row.8 }}</td>
            <td>{{ row.9 }}</td>
            <td>{{ row.10 }}</td>
            <td>{{ row.11 }}</td>
            <td>{{ row.12 }}</td>
            <td><a data-toggle="modal" data-target="#updateModal" data-whatever="@mdo"><span
                    class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a onclick="return delete_confirm()" href="{% url 'statusManagement:studentDelete' row.0 %}"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

<a href="{% url 'statusManagement:studentDelete' row.0 %}">