{% load static %}
<section class="top" >
    <div class="container" style="background: beige;">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static 'imgs/logo.png' %}" alt="" style="height: 100px;"/>
            </div>
            <div class="col-md-offset-4 col-md-4 col-xs-6 text-right" style="line-height: 100px; font-size: 16px;">
                <p class="text-muted"><strong>欢迎{{ username }}教师</strong></p>
            </div>
        </div>
    </div>
</section>
